.routes {
  color: white;
  margin: 0px auto 0px auto;
  background-color: blueviolet;
  padding: 50px;
  width: 800px;
  height: auto;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
